<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8K7L6j1EvXI0ANcDKH5t_5c3tYcNxTLI</string>
	<key>GCM_SENDER_ID</key>
	<string>742470647865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleAppLearning</string>
	<key>PROJECT_ID</key>
	<string>simpleuiloginpage</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleuiloginpage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742470647865:ios:8f057956388791faa58de8</string>
</dict>
</plist>